<form action="/pirates" method="post">
   <h3>Pirate(s):</h3>
    <label for="pirate_name">Pirate Name: </label><input id="pirate_name" type="text" name="pirate[name]"><br>
    <label for="pirate_weight">Pirate Weight: </label><input id="pirate_weight" type="text" name="pirate[weight]"><br>
    <label for="pirate_height">Pirate Height: </label><input id="pirate_height" type="text" name="pirate[height]"><br>
   <h3>Ship(s):</h3>
    <label for="ship_name_1">Ship Name: </label><input id="ship_name_1" type="text" name="pirate[ships][][type]"><br>
    <label for="ship_type_1">Ship Type: </label><input id="ship_type_1" type="text" name="pirate[ships][][name]"><br>
    <label for="ship_booty_1">Ship Booty: </label><input id="ship_booty_1" type="text" name="pirate[ships][][booty]"><br>
   <br>
    <label for="ship_name_2">Ship Name: </label><input id="ship_name_2" type="text" name="pirate[ships][][type]"><br>
    <label for="ship_type_2">Ship Type: </label><input id="ship_type_2" type="text" name="pirate[ships][][name]"><br>
    <label for="ship_booty_2">Ship Booty: </label><input id="ship_booty_2" type="text" name="pirate[ships][][booty]"><br>

    <input type="submit" value="Submit">
</form>

# Make a nested form (this should probably have html <label>s so it makes sense to a user). 
# This form will be creating three objects (one instance of the Pirate class, and two instances of the Ship class). 
# Remember, you'll need to build a corresponding controller action to load this page. Your form should POST to the route '/pirates'.